/*global*/
.crm-container .crm-form-block
/*#crm-container div.crm-summary-row */{
	background-color: #fff !important;
}

.crm-container .crm-form-block.crm-form-block > .crm-submit-buttons {
	border-bottom: 1px solid #e8eef0;
}

.ui-widget.crm-quickSearch-results {
  padding: 15px 0px !important;
}

#crm-container .breadcrumb {
  display: none !important;
}

.folded #adminmenu, .folded #adminmenu li.menu-top, .folded #adminmenuback, .folded #adminmenuwrap {
	display: none;
}

#crm-container {
	margin-right: 30px;
}

ul#civicrm-menu.sm.sm-civicrm {
	border-top: 5px solid #3e3e54;
}

div.update-nag.notice.notice-warning.inline {
	display: none;
}

/*edit contact summary layout*/
.crm-container .collapsible-title {
	margin-top: 15px !important;
    padding-bottom: 5px !important;
    font-size: 14px !important;
}

#tab_summary {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#crm-container div.crm-summary-contactname-block {
    margin-top: 10px !important;
  }
  
#crm-container div.crm-summary-row div.crm-label {
	color: #464354;
}

#crm-container .crm-actions-ribbon li.crm-delete-action {
	margin-left: 0;
}

#crm-container div.crm-summary-display_name {
	font-size: 38px;
	padding: 0 !important;
}

#crm-container #crm-main-content-wrapper .crm-summary-contactname-block #crm-contact-thumbnail .crm-contact_image-block > a {
  display: inline-block;;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  margin: 0px 27px 0px 0px;
  border-radius: 50%;
}

/*Custom Contact Search Code*/
.ui-widget.crm-quickSearch-results {
  padding: 15px 0 !important;
}

div.ui-menu-item-uiMenuItemWrapper > a {
  text-decoration: none;
  padding: 9px;
}

ul#ui-id-22.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front.crm-quickSearch-results {
        width: 299px !important;
}

div.ui-menu-item-uiMenuItemWrapper > a:hover {
        background-color: #e5eaea !important;
        color: black;
 }

 .ui-autocomplete li {
         padding: 0 !important;
}

/*Fixes the text turning white if using arrow keys*/
ul#ui-id-18.ui-menu.ui-widget.ui-widget-content .ui-state-active a,   
ul#ui-id-18.ui-menu.ui-widget.ui-widget-content .ui-state-active a:link,
ul#ui-id-18.ui-menu.ui-widget.ui-widget-content .ui-state-active a:visited {
        color: #212121;
}


/*End of Custom Search Bar Code*/

/*Custom code to give Info Blocks box shadows*/
.crm-summary-block {
        margin-bottom: 20px;
        border-radius: 2px;
        background: #fff;
        box-shadow: 0 3px 18px 0 rgb(48, 40, 40, 0.25);
}

#crm-container div.crm-summary-row {
        background: #fff !important;
}

#crm-container div.crm-summary-row div.crm-label {
        background-color: #fff;
        color: #464354;
        font-family: 'Open Sans';
        font-size: 13px;
        font-weight: 600;
}

#crm-container div.crm-sumary-row div.crm-content {
        font-family: 'Open Sans';
        font-size: 13px;
}

.crm-container div.crm-clear {
        background-color: #fff;
	padding: 12.5px 20px;
}
/*End*/


/*Anpassungen Contact Name Block*/
#crm-container div.crm-summary-display_name {
   font-size: 38px;
   padding: 20px 0 20px 0 !important;
   position: relative;
   bottom: 10px;
   margin-top: 20px;
 }

div#contactname-block.crm-summary-block {
   box-shadow: none !important;
   background: #f3f6f7;
   border: 1px dotted;
}

/*End*/

.ui-widget.ui-widget-content {
        border: none !important;
}

/*Background to non-white*/
.dialog-off-canvas-main-canvas {
	background: #e8eef0;
}

#crm-container .ui-tabs-panel {
	background: #e8eef0;
}

/*Actions Button no offset with white border*/
#crm-container .crm-actions-ribbon li {
	float: none;
}

/*Block content all white*/
#crm-container div.crm-inline-edit-form,
#crm-container table.crm-inline-edit-form td  {
         background: #fff;
}


/*Conctact Form Tab Bar white*/
.crm-container .CRM_Contact_Form_Search_Basic .crm-results-block .crm-search-results {
        background: #fff;
}

/*Sorting arrows proper alignment*/
.crm-container a.sorting::after,
.crm-container a.sorting_asc::after,
.crm-container a.sorting_desc::after {
        position: relative !important;
        right: -5px !important;
}

/*Fix Contactname Changes field*/
#ContactName div.crm-inline-button {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
}

button#_qf_ContactName_upload,
button#_qf_ContactName_cancel {
        margin-top: 22px;
}

.crm-container #actions a.button {
        margin-top: 30px;
        margin-bottom: 10px;
}


/*Custom code to turn background white, create box shadow and change font to black in "Actions" Button on contact summary page*/
.crm-container .crm-tasks {
        background: #fff;
}

.crm-contact-actions-list-inner {
        background: #fff;
        box-shadow: 0 3px 18px 0 rgb(48, 40, 40, 0.25);
}

.crm-container .ac_results li a,
.crm-container .ac_results li a:visited {
        color: black;
        padding: 6px;
}

.crm-container .ac_results li:hover,
.crm-container .ac_results li:hover a,
.crm-container .ac_results li a:hover {
        background: #f3f6f7;
}

/*fix tab bar on contact summary page*/
li#tab_summary.crm-tab-button.ui-corner-all.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
        margin-bottom: 1px;
        padding: 10px 0px;
}

li#tab_participant.crm-tab-button.ui-corner-all.livePage.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.crm-count-0.ui-tabs-active.ui-state-active {
        margin-right: -10px;
} 

/*fix the UI screen when registering a contact for a new event*/
input#source.huge.huge.crm-form-text {
	position: relative;
	/*left: 0px;*/
}

form#Participant.CRM_Event_Form_Participant > div.crm-block.crm-form-block.crm-participant-form-block > div.view-content > table.form-layout-compressed > tbody > tr.crm-participant-form-block-source > td > span.description {
	position: relative;
	left: -345px;
	bottom: -30px;
}

textarea#note.crm-form-textarea {
	position: relative;
	left: -18px;
}

fieldset#send_confirmation_receipt > table.form-layout > tbody > tr.crm-event-eventfees-form-block-send_receipt > td > span.description {
	position: relative;
	left: -16px;
	bottom: -77px;
}

fieldset#send_confirmation_receipt > table.form-layout > tbody > tr#notice.crm-event-eventfees-form-block-receipt_text > td > textarea#receipt_text {
	position: absolute;
	left: 204px;
	bottom: -10px;
}

fieldset#send_confirmation_receipt {
	margin-bottom: 50px;
}

fieldset#send_confirmation_receipt > table.form-layout > tbody > tr#notice.crm-event-eventfees-form-block-receipt_text > td > span.description {
 position: absolute;
 bottom: -50px;
 left: 204px;
}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_9_-1-row > td.html-adjust > label,
table.form-layout-compressed > tbody > tr.custom_field-row.custom_8_-1-row > td.html-adjust > label {
	bottom: -22px;
}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_10_-1-row > td.html-adjust > label {
	bottom: -12px;
}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_11_-1-row > td.html-adjust > label {
	bottom: -5px;
}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_9_-1-row > td.html-adjust > a.crm-hover-button.crm-clear-link > i.crm-i.fa-times,
table.form-layout-compressed > tbody > tr.custom_field-row.custom_8_-1-row > td.html-adjust > a.crm-hover-button.crm-clear-link > i.crm-i.fa-times {
	position: relative;
	bottom: -18px;
.crm-container.ui-dialog .ui-dialog-header, .crm-container.ui-dialog .ui-dialog-titlebar}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_10_-1-row > td.html-adjust > a.crm-hover-button.crm-clear-link > i.crm-i.fa-times {
	position: relative;
	bottom: -9px;
}

table.form-layout-compressed > tbody > tr.custom_field-row.custom_11_-1-row > td.html-adjust > a.crm-hover-button.crm-clear-link > i.crm-i.fa-times {
	position: relative;
	bottom: -2px;
}

.page-civicrm-mailing-report table.crm-info-panel {
	margin-top: 25px;
}

/*Configure page-Manage Contribution Site-Amounts  fix the overlapping header*/
.page-civicrm-admin.page-civicrm-admin-contribute .crm-contribution-contributionpage-amount-form-block fieldset .description,
.page-civicrm-a.page-civicrm-admin-contribute .crm-contribution-contributionpage-amount-form-block fieldset .description {
	padding: 40px 0 25px 0 !important;
}

.crm-container.ui-dialog .ui-dialog-header, .crm-container.ui-dialog .ui-dialog-titlebar {
	background: #e8eef0;
}

.crm-container.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	color: black !important;
}

/*Fix header covering SMTP config under civicrm/admin/setting/smtp?reset=1*/
div.crm-smtp-mailer-form-block > div#bySMTP.mailoption > fieldset > table.form-layout-compressed > tbody > tr.crm-smtp-form-block-smtpServer > td {
	padding-top: 35px;
}

/*Fix the hierarchical structuring in 'Manage Groups'*/
page-civicrm-group #DataTables_Table_0 tbody tr td,
.page-civicrm-group #DataTables_Table_0 tbody tr th {
        padding: 10px 20px 10px 20px;
}

#crm-container .crm-group-parent td.crm-group-name {
        text-indent: 0px;
}

#crm-container td span.show-children, #crm-container td span.crm-no-children {
        padding-left: 0px;
}

.page-civicrm-group #DataTables_Table_0 .crm-no-children {
	padding-left: 25px;
}
